doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Feed Reader
  body
    header(style='-webkit-user-select: none; -webkit-app-region: drag')
      h1 Feed Reader
    div#body
      div
        window-control
      div
        auth
      main
        feed
    script(src='renderer.js')
